.slider{
    position: relative;;
   margin-top: 80px;
   z-index: 0;
  
  }
  .swiper-container {
    padding-top: 10px;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    background: #000;
  }
  
  #eventslider {
    background-position: center;
    width:90%;
    height: 300px;
    background:linear-gradient(-45deg, #00d0ca, #69c938);
  }
  #eventslider img{
    height: 100%;
    width: 100%;
  }
  @media(max-width:600px){
    .slider{
      margin-top: 100px;
    }
  }